<footer>
<a class="logo" href="/home"><img src="./assets/images/logo_g.png" alt="Goaf"></a>
<div class="countries">
  Countries:
  <a class="nav-link" routerLink="/auth">Nigeria</a>
  <a class="nav-link" routerLink="/auth">Cameroon</a>
  <a class="nav-link" routerLink="/auth">Togo</a>
  <a class="nav-link" routerLink="/auth">Ghana</a>
  <a class="nav-link" routerLink="/auth">Liberia</a>
  <a class="nav-link" routerLink="/auth">Sierra leone</a>
  <a class="nav-link" routerLink="/auth">Ivory Coast</a>
  <a class="nav-link" routerLink="/auth">Angola</a>
  <a class="nav-link" routerLink="/auth">Gabon</a>
  <a class="nav-link" routerLink="/auth">Equatorial Guinea</a>
  <a class="nav-link" routerLink="/auth">Kenya</a>
  <a class="nav-link" routerLink="/auth">South Africa</a>
</div>
<div class="cities">
  Cities:
  <a class="nav-link" routerLink="/auth">Lagos</a>
  <a class="nav-link" routerLink="/auth">Yaounde</a>
  <a class="nav-link" routerLink="/auth">Accra</a>
  <a class="nav-link" routerLink="/auth">Cape Town</a>
  <a class="nav-link" routerLink="/auth">Freetown</a>
  <a class="nav-link" routerLink="/auth">Nairobi</a>
  <a class="nav-link" routerLink="/auth">Libreville</a>
  <a class="nav-link" routerLink="/auth">Abuja</a>
  <a class="nav-link" routerLink="/auth">Cape Town</a>
  <a class="nav-link" routerLink="/auth">Douala</a>
  <a class="nav-link" routerLink="/auth">Cairo</a>
  <a class="nav-link" routerLink="/auth">Tripoli</a>
</div>
<span class="no-big-template app-action">
 <button md-fab color="accent"><md-icon>check circle</md-icon></button>
 </span>
</footer>
<footer class="blacker">
  <div class="container-fluid">
    <div class="row">
      <div  class="col-sm-4  location">
      <div class="titles">
         <i class="fa fa-globe" aria-hidden="true"></i> <span>Location</span>
         </div> 
         <span>132 Suwan District, Gwangju, South Korea <small> <a class="nav-link" routerLink="/">(edit)</a></small></span>
        <p> You can always change your present place in your account settings</p>
      </div>
      <div  class="col-sm-4">
        <div>
        <div class="titles">
          <i class="fa fa-compass" aria-hidden="true"></i> <span>Site Navigation</span>
         </div> 
         <ul class="site-nav">
            <li><a routerLink="/places">Goaf Places</a></li>
            <li><a routerLink="/jobs">Goaf Jobs</a></li> 
            <li><a routerLink="/music">Goaf Music</a></li> 
            <li><a routerLink="/forums">Goaf Forums</a></li> 
            <li><a routerLink="/people">Goaf People</a></li> 
         </ul>
        </div>
        <ul>
        </ul>
      </div>
      <div  class="col-sm-4">
      <div class="titles">
        <a class="logo" href="/"><img src="./assets/images/logo_g.png" alt="Goaf"></a>
      </div>
       <ul class="site-nav">
            <li><a routerLink="/places">About</a></li>
            <li><a routerLink="/jobs">Contact</a></li> 
            <li><a routerLink="/music">Ask Goaf Forums</a></li> 
            <li><a routerLink="/forums">Advertise With Goaf</a></li> 
            <li><a routerLink="/team">Our Team</a></li> 
         </ul>
      </div>
    </div>
  </div>
  <small>GOAF &copy; 2016 All rights Reserved</small>
</footer>
<footer class="terms-footer">
 <div class="container-fluid">
  <div class="pull-left">
    <ul class="site-nav--h">
            <li><a routerLink="/places">Terms</a></li>
            <li><a routerLink="/report" class="last-child">Report</a></li> 
         </ul>
  </div>
  <div class="pull-right">
   <select class="custom-select">
    <option selected>English</option>
    <option value="1">French</option>
  </select>
  </div>
  </div>
</footer>