<main class="container-fluid">
 <div class="row"> 
	<div class="col-md-6">
	    <md-tab-group>
		  <md-tab>
		    <template md-tab-label>
		      Goaf Places
		    </template>
		     <div class="list-group">
			  <a  class="list-group-item list-group-item-action">
			    <h5 class="list-group-item-heading">List group item heading</h5>
			    <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
			    <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
			    <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
			  </a>
			   <a  class="list-group-item list-group-item-action">
			    <h5 class="list-group-item-heading">List group item heading</h5>
			    <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
			    <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
			    <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
			  </a>
			  <a  class="list-group-item list-group-item-action">
			    <h5 class="list-group-item-heading">List group item heading</h5>
			    <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
			    <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
			    <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
			  </a>
			   <a  class="list-group-item list-group-item-action">
			    <h5 class="list-group-item-heading">List group item heading</h5>
			    <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
			    <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
			    <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
			  </a>
			  <a  class="list-group-item list-group-item-action">
			    <h5 class="list-group-item-heading">List group item heading</h5>
			    <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
			    <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
			    <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
			  </a>
			   <a  class="list-group-item list-group-item-action">
			    <h5 class="list-group-item-heading">List group item heading</h5>
			    <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
			    <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
			    <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
			  </a>
		</div>
		  </md-tab>
		  <md-tab>
		    <template md-tab-label>
		      Photos
		    </template>
		    <h1>Terrible sushi restaurants</h1>
		    <p>...</p>
		  </md-tab>
		   <md-tab>
		    <template md-tab-label>
		      Reviews
		    </template>
		    <h1>Terrible sushi restaurants</h1>
		    <p>...</p>
		  </md-tab>
		</md-tab-group>
		
	</div>
	<div class="col-md-6">
	<md-tab-group>
  <md-tab>
    <template md-tab-label>
      Place Map
    </template>
   <sebm-google-map class="animated bounce" [latitude]="lat" [longitude]="lng">
            <sebm-google-map-marker [latitude]="lat" [longitude]="lng"></sebm-google-map-marker>
        </sebm-google-map>
  </md-tab>
  <md-tab>
    <template md-tab-label>
      Photos
    </template>
    <h1>Terrible sushi restaurants</h1>
    <p>...</p>
  </md-tab>
   <md-tab>
    <template md-tab-label>
      Reviews
    </template>
    <h1>Terrible sushi restaurants</h1>
    <p>...</p>
  </md-tab>
</md-tab-group>
		
	</div>
  </div>
</main>
