<app-header></app-header>
<main class="container-fluid">
 <div class="row" id="xs-container"> 

	<div class="col-md-6" id="item_1">
	    <md-tab-group>
		  <md-tab>
		    <template md-tab-label>
		      Goaf Place
		    </template>
		     <ul class="list-group" *ngIf="place">
			  <li  class="list-group-item list-group-item-action">
			    <h1 class="list-group-item-heading">{{place.placeName}} <span class="canEditBtn pull-right"><button md-button  *ngIf="canEdit" data-toggle="modal" data-target="#editPlace"><i class="fa fa-pencil" aria-hidden="true"></i></button></span></h1>
			    <rating [(ngModel)]="starsCount"
			            [titles]="['one', 'two', 'three', 'four', 'five']" [float]="true">
			    </rating>
			    <div class="more-l">
			    <small><i class="fa fa-map-marker" aria-hidden="true"></i> {{place.placeCat}}</small>
			    <small><i class="fa fa-link" aria-hidden="true"></i> <a target="_blank" routerLink="{{websiteLink}}"> {{website}}</a></small>
			    </div>
			    <address class="list-group-item-text"><span>Address:</span> {{place.placeAdd}}</address>
			    <p class="list-group-item-text"><span>Phone Number: </span><a href="tel:{{phone_number}}">{{phone_number}}</a></p>
                <p class="list-group-item-text"><span>Hours:</span> Open today · 8AM–5PM <span class="canEditBtn pull-right"><button md-button  *ngIf="canEdit" data-toggle="modal" data-target="#editPlace"><i class="fa fa-pencil" aria-hidden="true"></i></button></span></p>
			  </li>
			
		</ul>

		  </md-tab>
		 
		</md-tab-group>
		<div class="margin10"></div>
		 <ng2-adsense
			  [adClient]="'ca-pub-2243338195594977'"
			  [adSlot]="7581452770">
			</ng2-adsense>

		 <app-gallery [datasource]=images></app-gallery>	
	</div>
	<div class="col-md-6" id="item_2">
	<md-tab-group>
  <md-tab>
    <template md-tab-label>
      Place Map
    </template>
    <div id="xs-re-container">
    <div class="card-me" id="ads_item">
    <ng2-adsense
	  [adClient]="'ca-pub-2243338195594977'"
	  [adSlot]="7979162777">
	</ng2-adsense>
	</div>
	<div id="map_item">
       <sebm-google-map class="animated bounceInDown" [latitude]="lat" [longitude]="lng">
            <sebm-google-map-marker [latitude]="lat" [longitude]="lng"></sebm-google-map-marker>
        </sebm-google-map>
    </div>
    </div>
  </md-tab>
  <md-tab>
    <template md-tab-label>
      Photos
    </template>
    <firebase-upload url="https://fire-upload.firebaseio.com"></firebase-upload>
        <vaadin-upload max-files="3" accept="image/*" max-file-size="1000000">
        <div class="drop-label">
          <iron-icon icon="file-upload"></iron-icon>
          Accepts up to 8 image files, up to 1 MB each
        </div>
      </vaadin-upload>
  </md-tab>
   <md-tab>
    <template md-tab-label>
      Reviews
    </template>
    <h1>Terrible sushi restaurants</h1>
    <p>...</p>
  </md-tab>
</md-tab-group>
		
	</div>
  </div>
  <div class="row related-places">
     <div class="col-md-6">
     dddd
     </div>
     <div class="col-md-6">
     dddd
     </div>
  </div>
</main>
<app-footer></app-footer>

	<div class="modal fade animated bounceInUp time-picker" id="editPlace" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog"  role="document">
	    <div class="modal-content">
	     <div class="modal-header" color="primary">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridModalLabel">Place Opening Hours</h4>
        </div>
	      <div class="modal-body">
            <div  [hidden]="submitted">
		    <div class="adding">
		  <!--<input  id="pAddress" label="Place Address" [(ngModel)] = "pAddress"  (setAddress) = "getAddress($event)" googleplace
			     name="pAddress">-->
		   <form class="form-add" [formGroup]="openForm" (ngSubmit)="submitForm(openForm.value)">
		     <div class="form-group">
		      <table class="table table-bordered table-inverse table-hover">
			  <thead>
			    <tr>
			      <th>Status</th>
			      <th>Day of Week</th>
			      <th>Open From</th>
			      <th>Close At</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr>
			      <th scope="row"><md-checkbox id="mon" (change)="mon($event)" [checked]="true">Checked</md-checkbox></th>
			      <td>Monday</td>
			      <td><paper-input label="Opening time" type="time" >
</paper-input></td>
			      <td>time</td>
			    </tr>
			     <tr>
			      <th scope="row"><md-checkbox [checked]="true">Checked</md-checkbox></th>
			      <td>Monday</td>
			      <td>@mdo</td>
			      <td>time</td>
			    </tr>
			     <tr>
			      <th scope="row"><md-checkbox [checked]="true">Checked</md-checkbox></th>
			      <td>Monday</td>
			      <td>@mdo</td>
			      <td>time</td>
			    </tr>
			     <tr>
			      <th scope="row"><md-checkbox [checked]="true">Checked</md-checkbox></th>
			      <td>Monday</td>
			      <td>@mdo</td>
			      <td>time</td>
			    </tr>
			     <tr>
			      <th scope="row"><md-checkbox [checked]="true">Checked</md-checkbox></th>
			      <td>Monday</td>
			      <td>@mdo</td>
			      <td>time</td>
			    </tr>
			     <tr>
			      <th scope="row"><md-checkbox [checked]="true">Checked</md-checkbox></th>
			      <td>Monday</td>
			      <td>@mdo</td>
			      <td>time</td>
			    </tr>
			    <tr>
			      <th scope="row"><md-checkbox [checked]="true">Checked</md-checkbox></th>
			      <td>Monday</td>
			      <td>@mdo</td>
			      <td>time</td>
			    </tr>
			  </tbody>
			</table>
		      </div>
           
              <button md-button md-raised-button color="primary" type="submit" [disabled]="!openForm.valid" >Click Here To Add Place</button>
			</form>
		    </div>
		    </div>
		    <div [hidden]="!submitted" class="afteradd alert alert-success animated fadeIn">
		        <h1 class="animated bounceInUp h1"><i class="fa fa-thumbs-up animated swing" aria-hidden="true"></i> HURRAH!</h1>
		        <P>Your Place has been successfully added</P>
		        <h2>You will be redirected in a moment to  edit your listed place</h2>
                <div id="countdown" class="aligned"></div>
                <div class="aligned add_photos">Go Ahead: <a routerLink="/">https://goaf.com/place/1c67711db8116af5a43775e2c8326077</a> to add place photos.</div>
                <h3>Once in your place page:-</h3>
                <ol>
                	<li>You should add place photos</li>
                	<li>Check to make sure your listed place location is correct</li>
                </ol>
		    </div>
	      </div>
	    </div>
	  </div>
	</div>