<app-header></app-header>
<main class="container-fluid">
 <div class="row"> 
	<div class="col-md-6">
	    <md-tab-group>
		  <md-tab>
		    <template md-tab-label>
		      Goaf Places
		    </template>
		     <ul class="list-group" *ngIf="place">
			  <li routerLink="/auth" class="list-group-item list-group-item-action">
			    <h1 class="list-group-item-heading">{{place.placeName}}</h1>
			    <rating [(ngModel)]="starsCount"
			            [titles]="['one', 'two', 'three', 'four', 'five']" [float]="true">
			    </rating>
			    <div class="more-l">
			    <small><i class="fa fa-map-marker" aria-hidden="true"></i> {{place.placeCat}}</small>
			    <small><i class="fa fa-link" aria-hidden="true"></i> website</small>
			    </div>
			    <address class="list-group-item-text"><span>Address:</span> {{place.placeAdd}}</address>
                <p class="list-group-item-text"><span>Hours:</span> Open today · 8AM–5PM</p>
			    

			    <!--<div *ngFor="let item of [1, 2, 3]; let index = index">
		        <rating [(ngModel)]="starsCounts[index]"
		                [float]="true">
		        </rating>
		        </div>-->
			  </li> 
			
		</ul>
		    <ng2-adsense
			  [adClient]="'ca-pub-2243338195594977'"
			  [adSlot]="7581452770">
			</ng2-adsense>
		  </md-tab>
		  <md-tab>
		    <template md-tab-label>
		      Photos
		    </template>
		    <h1>Terrible sushi restaurants</h1>
		    <p>...</p>
		  </md-tab>
		   <md-tab>
		    <template md-tab-label>
		      Reviews
		    </template>
		    <h1>Terrible sushi restaurants</h1>
		    <p>...</p>
		  </md-tab>
		</md-tab-group>
		
	</div>
	<div class="col-md-6">
	<md-tab-group>
  <md-tab>
    <template md-tab-label>
      Place Map
    </template>
    <ng2-adsense
	  [adClient]="'ca-pub-2243338195594977'"
	  [adSlot]="7979162777">
	</ng2-adsense>
   <sebm-google-map class="animated bounce" [latitude]="lat" [longitude]="lng">
            <sebm-google-map-marker [latitude]="lat" [longitude]="lng"></sebm-google-map-marker>
        </sebm-google-map>
  </md-tab>
  <md-tab>
    <template md-tab-label>
      Photos
    </template>
    <h1>Terrible sushi restaurants</h1>
    <p>...</p>
  </md-tab>
   <md-tab>
    <template md-tab-label>
      Reviews
    </template>
    <h1>Terrible sushi restaurants</h1>
    <p>...</p>
  </md-tab>
</md-tab-group>
		
	</div>
  </div>
</main>
<app-footer></app-footer>