/*template define */
.app-action {
  display: inline-block;
  position: fixed;
  bottom: 20px;
  right: 20px;
}
@media screen and (max-width: 544px){
.no-small-template{
    display: none;
}
}
@media screen and (min-width: 544px){
.no-big-template{
    display: none;
}
}

footer {
  
  text-align: center;
  padding: 10px
}
.countries a {
  color: #4A4A4A;
  font-size: 1.2em;
}
.blacker {
  background: linear-gradient(90deg,#263238 70%,#37424b 30%);
  min-height: 150px;
  color: #ccd;
}
.blacker small {

  color: #333;
}

.blacker .location span {
  font-family: 'Baloo Bhaina', cursive;
}
.blacker .titles {
   color: #fff;
    font: 500 14px/16px Roboto,sans-serif;
    margin: 0 0 16px;
}
.site-nav--h, .site-nav {
  list-style: none;
  padding: 0;
  margin:0;
}
.site-nav {

  /*border-left: 1px solid #ccd;*/

}

.site-nav li a {
  color: #cfd8dc;
  font: 14px/16px Roboto,sans-serif;
  margin: 10px 0;
}
.site-nav li a:hover {
  color: #fff;
}
.terms-footer{
   background: #455a64;
   padding: 14px 16px;
   height: 100%;
}


.site-nav--h li{
  display: inline-block;
  
  
}

.site-nav--h li a {
   color: #fff;
    line-height: 36px;
    font-size: 13px;
    padding: 0 5px;
    border-right: 1px solid #fff;
}
.site-nav--h .last-child{
  border-right: 0 !important;
  }