<footer>

<a class="logo" href="#">Fixed bottom</a>
<div class="countries">
  Countries:
  <a class="nav-link" routerLink="/auth">Nigeria</a>
  <a class="nav-link" routerLink="/auth">Cameroon</a>
  <a class="nav-link" routerLink="/auth">Togo</a>
  <a class="nav-link" routerLink="/auth">Ghana</a>
  <a class="nav-link" routerLink="/auth">Liberia</a>
  <a class="nav-link" routerLink="/auth">Sierra leone</a>
  <a class="nav-link" routerLink="/auth">Ivory Coast</a>
  <a class="nav-link" routerLink="/auth">Angola</a>
  <a class="nav-link" routerLink="/auth">Gabon</a>
  <a class="nav-link" routerLink="/auth">Equatorial Guinea</a>
  <a class="nav-link" routerLink="/auth">Kenya</a>
  <a class="nav-link" routerLink="/auth">South Africa</a>
</div>
<div class="cities">
  Cities:
  <a class="nav-link" routerLink="/auth">Lagos</a>
  <a class="nav-link" routerLink="/auth">Yaounde</a>
  <a class="nav-link" routerLink="/auth">Accra</a>
  <a class="nav-link" routerLink="/auth">Cape Town</a>
  <a class="nav-link" routerLink="/auth">Freetown</a>
  <a class="nav-link" routerLink="/auth">Nairobi</a>
  <a class="nav-link" routerLink="/auth">Libreville</a>
  <a class="nav-link" routerLink="/auth">Abuja</a>
  <a class="nav-link" routerLink="/auth">Cape Town</a>
  <a class="nav-link" routerLink="/auth">Douala</a>
  <a class="nav-link" routerLink="/auth">Cairo</a>
  <a class="nav-link" routerLink="/auth">Tripoli</a>
</div>
<span class="no-big-template app-action">
 <button md-fab color="accent"><md-icon>check circle</md-icon></button>
 </span>
</footer>
<footer class="blacker">
  <div class="container-fluid">
    <div class="row">
      <div  class="col-sm-4  location">
        <div><md-icon>place</md-icon></div> <span>132 Suwan District, Gwangju, South Korea <small> <a class="nav-link" routerLink="/">(edit)</a></small></span>
        <p> You can always change your present place in your account settings</p>
      </div>
      <div  class="col-sm-4">
        <i class="fa fa-compass" aria-hidden="true"></i> <span>Site Navigation</span> 
      </div>
      <div  class="col-sm-4">
        <i class="fa fa-compass" aria-hidden="true"></i> <span>Gwangju</span> 
      </div>
    </div>
  </div>
  <small>GOAF &copy; 2016 All rights Reserved</small>
</footer>