<!--<div *ngIf="!isHeader">-->
<div>
<nav class="navbar navbar-fixed-top navbar-light bg-faded">
<div class="container-fluid">
<a class="navbar-brand float-left" routerLink="/home">Goaf</a>
 
  
 <button class="navbar-toggler hidden-sm-up float-right" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2" aria-controls="exCollapsingNavbar2" aria-expanded="false" aria-label="Toggle navigation">
    &#9776;
  </button>
 
 
  
  <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
    
     <div class="search">
         <form name="searchForm">
         <label for="searchstring"  aria-label="Search"> </label>
          <input type="text" class="form-control input-sm" name="searchstring" id="searchstring" ng-model="searchstring" minlength="3" maxlength="64" minlength="3" placeholder="Search" required="" value="">

          <span class="error"></span>
           <button md-raised-button color="primary" class="btnn md-button"><i class="material-icons">search</i></button>
          </form>
     </div>
  
  <div class="float-xs-right">
  <ul class="nav navbar-nav account">
      
      <li class="nav-item">
        <a class="nav-link" routerLink="/auth">log in </a>
      </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/auth">sign up</a>
      </li>
      <!--<li class="nav-item">
        <a class="nav-link" routerLink="/signup">OjObasi</a>
      </li>
      <li class="nav-item">
         <a class="nav-link" routerLink="/assets"><img class="useravatar" src="./assets/images/default_avatar.png" alt="username"></a>
      </li>-->
    </ul>
  
  </div>
  </div>
</div>  
</nav>
 <div class="down-nav">
  <div class="container-fluid">
  <ul class="nav navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Places</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">News Stories</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Jobs</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">People</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Music</a>
    </li>
    <div class="float-xs-right">
    <li class="nav-item">
      <a class="nav-link" href="#">People</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Music</a>
    </li>
    </div>
  </ul>
  </div>
</div>
</div>
<!--<ul>
    <li><a (click)="setTitle( 'Good morning!' )">Good morning</a>.</li>
    <li><a (click)="setTitle( 'Good afternoon!' )">Good afternoon</a>.</li>
    <li><a (click)="setTitle( 'Good evening!' )">Good evening</a>.</li>
  </ul>-->
<router-outlet></router-outlet>
<footer>
<a class="logo" href="#">Fixed bottom</a>
<div class="countries">
  Countries:
  <a class="nav-link" routerLink="/auth">Nigeria</a>
  <a class="nav-link" routerLink="/auth">Cameroon</a>
  <a class="nav-link" routerLink="/auth">Togo</a>
  <a class="nav-link" routerLink="/auth">Ghana</a>
  <a class="nav-link" routerLink="/auth">Liberia</a>
  <a class="nav-link" routerLink="/auth">Sierra leone</a>
  <a class="nav-link" routerLink="/auth">Ivory Coast</a>
  <a class="nav-link" routerLink="/auth">Angola</a>
  <a class="nav-link" routerLink="/auth">Gabon</a>
  <a class="nav-link" routerLink="/auth">Equatorial Guinea</a>
  <a class="nav-link" routerLink="/auth">Kenya</a>
  <a class="nav-link" routerLink="/auth">South Africa</a>
</div>
<div class="cities">
  Cities:
  <a class="nav-link" routerLink="/auth">Lagos</a>
  <a class="nav-link" routerLink="/auth">Yaounde</a>
  <a class="nav-link" routerLink="/auth">Accra</a>
  <a class="nav-link" routerLink="/auth">Cape Town</a>
  <a class="nav-link" routerLink="/auth">Freetown</a>
  <a class="nav-link" routerLink="/auth">Nairobi</a>
  <a class="nav-link" routerLink="/auth">Libreville</a>
  <a class="nav-link" routerLink="/auth">Abuja</a>
  <a class="nav-link" routerLink="/auth">Cape Town</a>
  <a class="nav-link" routerLink="/auth">Douala</a>
  <a class="nav-link" routerLink="/auth">Cairo</a>
  <a class="nav-link" routerLink="/auth">Tripoli</a>
</div>
<span class="no-big-template app-action">
 <button md-fab color="accent"><md-icon>check circle</md-icon></button>
 </span>
</footer>
