<main class="place-map">
	<sebm-google-map [latitude]="lat" [longitude]="lng">
	        <sebm-google-map-marker [latitude]="lat" [longitude]="lng"></sebm-google-map-marker>
	</sebm-google-map>
	<div class="place-map-over">
		 <h1  color="accent"> Discover America</h1>
			  <h2> America is not a country</h2>
			  <h3>List a place for free, Share with the world for free</h3>
			  <h2>Your Next Great Destination!</h2>
			  <h3> Goaf Places</h3>
		<div class="container search"> 
		<div class="row">
		<div class="col-md-12">
		  <form class="form-horizontal" role="form">
            <div class="input-group" id="adv-search">
                <input type="text" class="form-control" placeholder="Search for snippets" />
                <div class="input-group-btn">
                    <div class="btn-group" role="group">
                            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"><!--<span class="caret"></span>--><i class="material-icons" aria-hidden="true">place</i></button>
                             <button type="button" class="btn btn-primary searchbtn"><i class="material-icons" aria-hidden="true">search</i> <span class="search-span">Search</span></button>
                     </div>
                </div>

            </div>
               <div class="collapse" id="collapseExample">
                   <div class="form-group">
                                    <!--<label for="filter">Filter by</label>-->
                       <select class="form-control">
                           <option value="0" selected>All Snippets</option>
                                 <option value="1">Featured</option>
                                     <option value="2">Most popular</option>
                                        <option value="3">Top rated</option>
                                      		<option value="4">Most commented</option>
                                    </select>
                                  </div>
                                  <div class="form-group">
                                   <!-- <label for="contain">Author</label>-->
                                    <input class="form-control" type="text" />
                                  </div>
                                  <div class="form-group">
                                    <!--<label for="contain">Contains the words</label>-->
                                    <input class="form-control" type="text" />
                                  </div>
                                 <!-- <button type="submit" class="btn btn-primary"><i class="material-icons" aria-hidden="true">search</i></button>-->
                        </div>
             </form>
          </div>
        </div>
		</div> 

		 <div>
		    <ul class="all-search">
		    	<li><a routerLink="/home"><i class="material-icons" aria-hidden="true">restaurant</i></a></li>
		    	<li><i class="material-icons" aria-hidden="true">subway</i></li>
		    	<li><i class="material-icons" aria-hidden="true">train</i></li>
		    	<li><i class="material-icons" aria-hidden="true">local_hotel</i></li>
		    	<li><i class="material-icons" aria-hidden="true">local_hospital</i></li>
		    	<li><i class="material-icons" aria-hidden="true">local_gas_station</i></li>
		    </ul>
		 </div>
	</div>
</main>
