<main class="home container-fluid">
 <div class="cardo st">
<div class="row">
  <div class="col-xs-6 col-sm-3">
  	<button md-button>
    <md-icon class="icon-st-1">place</md-icon> list a place
   </button>
  </div>

  <div class="col-xs-6 col-sm-3">
  	<button md-button>
    <md-icon class="icon-st-2">create</md-icon> Write a blog
   </button>
  </div>

  <!-- Add the extra clearfix for only the required viewport -->
  <div class="clearfix hidden-sm-up"></div>

  <div class="col-xs-6 col-sm-3">
  	<button md-button>
    <md-icon class="icon-st-3">play_circle_outline</md-icon> upload
   </button>

  </div>

  <div class="col-xs-6 col-sm-3 user-board">
  	<a  routerLink="/assets"><img class="useravatar-main" src="./assets/images/default_avatar.png" alt="username"></a>
  	<div class="pull-right-text">
  	  <div class="header-cc">Hey Oj Obasi!rffff</div>
  	   <p>What's up?</p>
  	</div>
  </div>
</div>

 </div>
 <div>
 <div class="row reduce-guitar">

<div class="_10pad">
<div class="col-xs-12 col-sm-9">
 <div class="row sha-s ">
 <div class="col-xs-12 col-sm-6">
 <md-card>
   <md-card-title-group>
      <img md-card-sm-image src="./assets/images/design/room.jpeg">
      <md-card-title>AngularJS SEO with Prerender.io</md-card-title>
      <md-card-subtitle>AngularJS is an excellent framework for building websites and apps. Built in routing, data-binding and directives among other features enable </md-card-subtitle>
   </md-card-title-group>
</md-card>
 </div>
 <div class="col-xs-12 col-sm-6">
  <md-card>
   <md-card-title-group>
      <img md-card-sm-image src="./assets/images/design/room.jpeg">
      <md-card-title>How Sheryl Sandberg Approaches Hiring and Motivating Talent</md-card-title>
      <md-card-subtitle>For the past eight years, she’s served as the COO of the one of the most successful companies in the world: Facebook. She’s also one of the newest members of the billionaire club and the author</md-card-subtitle>
   </md-card-title-group>
</md-card>
 </div>
 </div>
 <div class="row sha-s">
<div class="mg-10"></div>

<div class="col-xs-12 col-sm-4">
<md-card>
   <md-card-header>
      <img md-card-avatar src="./assets/images/default_avatar.png">
      <md-card-title>Oj obasi added</md-card-title>
      <md-card-subtitle>Header subtitle</md-card-subtitle>
   </md-card-header>
   <img md-card-image src="./assets/images/design/room.jpeg">
   <md-card-content>
      <p>Here is some more content</p>
   </md-card-content>
</md-card>
</div>
<div class="col-xs-12 col-sm-4">
<md-card>
   <md-card-header>
      <img md-card-avatar src="./assets/images/default_avatar.png">
      <md-card-title>Oj obasi added</md-card-title>
      <md-card-subtitle>Header subtitle</md-card-subtitle>
   </md-card-header>
   <img md-card-image src="./assets/images/design/room.jpeg">
   <md-card-content>
      <p>Here is some more content</p>
   </md-card-content>
</md-card>
</div>
<div class="col-xs-12 col-sm-4">
<md-card>
   <md-card-header>
      <img md-card-avatar src="./assets/images/default_avatar.png">
      <md-card-title>Oj obasi added</md-card-title>
      <md-card-subtitle>Header subtitle</md-card-subtitle>
   </md-card-header>
   <img md-card-image src="./assets/images/design/room.jpeg">
   <md-card-content>
      <p>Here is some more content</p>
   </md-card-content>
</md-card>
</div>


</div>
</div>

<div class="col-xs-12 col-sm-3 news">
<md-card>
   
     <ul class="list-group">
     <li class="list-group-item"><md-card-header>News</md-card-header></li>
      <li class="list-group-item">Cras justo odio</li>
      <li class="list-group-item">Dapibus ac facilisis in</li>
      <li class="list-group-item">Morbi leo risus</li>
      <li class="list-group-item">Porta ac consectetur ac</li>
      <li class="list-group-item">Vestibulum at eros</li>
    </ul>
     
</md-card>
<div class="cardo">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- responUnit -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2243338195594977"
     data-ad-slot="7979162777"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>
</div>
</div>

</div>
<div class="mg-10"></div>
<div class="cardo">
<div class="row">
<div class="col-xs-12 col-sm-8">
<div class="col-xs-12 col-sm-4">
<md-card>
   <md-card-title-group>
      <img md-card-sm-image src="path/to/img.png">
      <md-card-title>Card with title</md-card-title>
      <md-card-subtitle>Subtitle</md-card-subtitle>
   </md-card-title-group>
</md-card>
</div>
<div class="col-xs-12 col-sm-4">
<md-card>
   <md-card-title-group>
      <img md-card-sm-image src="path/to/img.png">
      <md-card-title>Card with title</md-card-title>
      <md-card-subtitle>Subtitle</md-card-subtitle>
   </md-card-title-group>
</md-card>
</div>
<div class="col-xs-12 col-sm-4">
<md-card>
   <md-card-title-group>
      <img md-card-sm-image src="path/to/img.png">
      <md-card-title>Card with title</md-card-title>
      <md-card-subtitle>Subtitle</md-card-subtitle>
   </md-card-title-group>
</md-card>
</div>
<div class="col-xs-12 col-sm-4">
<md-card>
   <md-card-title-group>
      <img md-card-sm-image src="path/to/img.png">
      <md-card-title>Card with title</md-card-title>
      <md-card-subtitle>Subtitle</md-card-subtitle>
   </md-card-title-group>
</md-card>
</div>
</div>
<div class="col-xs-12 col-sm-4">
hhh
</div>

</div>
</div>
</main>
<div class="mg-10"></div>