<app-header></app-header>
<main class="place-map">
 <sebm-google-map [latitude]="lat" [longitude]="lng">
        <sebm-google-map-marker [latitude]="lat" [longitude]="lng"></sebm-google-map-marker>
</sebm-google-map>
<div class="place-map-over">
 <h1> Discover America</h1>
   <h2> America is not a country</h2>
   <h3>List a place for free, Share with the world for free</h3>
  <h2>Your Next Great Destination!</h2>
  <h3> Goaf Places</h3>
  <div class="cardo ">
  <div class="row sha-s st">
  <div class="col-xs-12 col-sm-4">
    <button md-raised-button color="warn">
    <md-icon class="icon-st-1">place</md-icon> List a place 
   </button>
  </div>

  <div class="col-xs-12 col-sm-4">
    <button md-raised-button color="primary">
    <md-icon class="icon-st-2">create</md-icon> Write a blog
   </button>
  </div>

  <!-- Add the extra clearfix for only the required viewport -->
  <div class="clearfix hidden-sm-up"></div>

  <div class="col-xs-12 col-sm-4">
    <button md-raised-button color="accent">
    <md-icon class="icon-st-3">play_circle_outline</md-icon> Upload
   </button>

  </div>
  </div>
  </div>

  <div>
        <ul class="all-search" #navlight>
          <li><a routerLink="/home"><i class="material-icons" aria-hidden="true">place</i></a></li>
          <li><i class="material-icons" aria-hidden="true">work</i></li>
          <li><i class="material-icons" aria-hidden="true">headset</i></li>
        </ul>
     </div>
</div>
</main>
<div class="pad-updates">
<ng2-adsense
  [adClient]="'ca-pub-2243338195594977'"
  [adSlot]="7979162777">
</ng2-adsense>
</div>
<app-footer></app-footer>