<main class="home container-fluid">
 <div class="cardo st">
<div class="row">
  <div class="col-xs-6 col-sm-3">
  	<button md-button>
    <md-icon class="icon-st-1">place</md-icon> list a place
   </button>
  </div>

  <div class="col-xs-6 col-sm-3">
  	<button md-button>
    <md-icon class="icon-st-2">create</md-icon> Write a blog
   </button>
  </div>

  <!-- Add the extra clearfix for only the required viewport -->
  <div class="clearfix hidden-sm-up"></div>

  <div class="col-xs-6 col-sm-3">
  	<button md-button>
    <md-icon class="icon-st-3" style="fill: #000000;">play_circle_outline</md-icon> upload
   </button>

  </div>

  <div class="col-xs-6 col-sm-3 user-board">
  	<a  routerLink="/assets"><img class="useravatar-main" src="./assets/images/default_avatar.png" alt="username"></a>
  	<div class="pull-right-text">
  	  <div class="header-cc">Hey Oj Obasi!</div>
  	   <p>What's up?</p>
  	</div>
  </div>
</div>

 </div>
 <div>
 <div class="row">
<div class="mg-10"></div>
<div class="col-xs-12 col-sm-9">
<div class="cardo">
 hh
</div>
</div>
<div class="col-xs-12 col-sm-3">
kk
</div>
</div>
<div class="row">
<div class="mg-10"></div>
<div class="col-xs-12 col-sm-3">
<md-card>
   <md-card-header>
      <img md-card-avatar src="./assets/images/default_avatar.png">
      <md-card-title>Oj obasi added</md-card-title>
      <md-card-subtitle>Header subtitle</md-card-subtitle>
   </md-card-header>
   <img md-card-image src="./assets/images/design/room.jpeg">
   <md-card-content>
      <p>Here is some more content</p>
   </md-card-content>
</md-card>
</div>
<div class="col-xs-12 col-sm-3">
<md-card>
   <md-card-header>
      <img md-card-avatar src="./assets/images/default_avatar.png">
      <md-card-title>Oj obasi added</md-card-title>
      <md-card-subtitle>Header subtitle</md-card-subtitle>
   </md-card-header>
   <img md-card-image src="./assets/images/design/room.jpeg">
   <md-card-content>
      <p>Here is some more content</p>
   </md-card-content>
</md-card>
</div>
<div class="col-xs-12 col-sm-3">
<md-card>
   <md-card-header>
      <img md-card-avatar src="./assets/images/default_avatar.png">
      <md-card-title>Oj obasi added</md-card-title>
      <md-card-subtitle>Header subtitle</md-card-subtitle>
   </md-card-header>
   <img md-card-image src="./assets/images/design/room.jpeg">
   <md-card-content>
      <p>Here is some more content</p>
   </md-card-content>
</md-card>
</div>
<div class="col-xs-12 col-sm-3">
<md-card>
   <md-card-header>
      <img md-card-avatar src="./assets/images/default_avatar.png">
      <md-card-title>Oj obasi added</md-card-title>
      <md-card-subtitle>Header subtitle</md-card-subtitle>
   </md-card-header>
   <img md-card-image src="./assets/images/design/room.jpeg">
   <md-card-content>
      <p>Here is some more content</p>
   </md-card-content>
</md-card>
</div>
</div>
</div>
<div class="mg-10"></div>
<div class="cardo">
<div class="row">
<div class="col-xs-12 col-sm-8">
<div class="col-xs-12 col-sm-4">
<md-card>
   <md-card-title-group>
      <img md-card-sm-image src="path/to/img.png">
      <md-card-title>Card with title</md-card-title>
      <md-card-subtitle>Subtitle</md-card-subtitle>
   </md-card-title-group>
</md-card>
</div>
<div class="col-xs-12 col-sm-4">
<md-card>
   <md-card-title-group>
      <img md-card-sm-image src="path/to/img.png">
      <md-card-title>Card with title</md-card-title>
      <md-card-subtitle>Subtitle</md-card-subtitle>
   </md-card-title-group>
</md-card>
</div>
<div class="col-xs-12 col-sm-4">
<md-card>
   <md-card-title-group>
      <img md-card-sm-image src="path/to/img.png">
      <md-card-title>Card with title</md-card-title>
      <md-card-subtitle>Subtitle</md-card-subtitle>
   </md-card-title-group>
</md-card>
</div>
<div class="col-xs-12 col-sm-4">
<md-card>
   <md-card-title-group>
      <img md-card-sm-image src="path/to/img.png">
      <md-card-title>Card with title</md-card-title>
      <md-card-subtitle>Subtitle</md-card-subtitle>
   </md-card-title-group>
</md-card>
</div>
</div>
<div class="col-xs-12 col-sm-4">
hhh
</div>

</div>
</div>
</main>
<div class="mg-10"></div>